<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
    if (window.localStorage.getItem('snowballDarkmode') == 'true') {
        document.body.classList.add('dark-mode');
    }
</script>
<body>
<%- include(`${partials}/header_main`); -%>

<div class="page-wrapper with-navbar with-transitions" id="particles-js">
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <div class="loader--1"></div>
            <h1 class="error"></h1>

            <pre id="log">
            </pre>

            <%- include(`${partials}/scripts`, {scriptname: 'icequeen'}); -%>
            <%- include(`${partials}/footer`); -%>
        </div>
    </div>
</div>
</body>
</html>
