<pre id="footer">
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<a href="https://twitter.com/throwsnowballs" target="_blank">Twitter</a> - <a href="https://discord.gg/T35jZ2hhPZ" target="_blank">Discord</a> - <a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">Medium</a> - <a href="https://t.me/throwsnowballs" target="_blank">Telegram</a> 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>